services:
  postgres:
    image: postgres:12.2-alpine
    container_name: postgres
    environment:
      - POSTGRES_DB=nakama
      - POSTGRES_PASSWORD=localdb
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d nakama"]
      interval: 3s
      timeout: 3s
      retries: 10

  nakama:
    image: heroiclabs/nakama:3.21.1
    container_name: nakama
    entrypoint:
      - "/bin/sh"
      - "-ecx"
      - >
          sleep 10 &&
          /nakama/nakama migrate up --database.address postgres:localdb@postgres:5432/nakama &&
          exec /nakama/nakama --config /nakama/data/local.yml --database.address postgres:localdb@postgres:5432/nakama
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./data:/nakama/data
    ports:
      - "7349:7349"
      - "7350:7350"
      - "7351:7351"

volumes:
  data:
